# fly.toml app configuration file generated for app-dry-frost-4912 on 2026-02-16T22:14:50Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "telecalbot"
primary_region = 'iad'

[processes]
app = "/app/.venv/bin/python -m app.main"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
